<ng-container *ngIf="(usersState$ | async) as state" [ngSwitch]="state.appState">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search users" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <ng-container *ngSwitchCase="'APP_ERROR'">{{ state.error | json }}</ng-container>
        <ng-container *ngSwitchCase="'APP_LOADING'">
          <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'APP_LOADED'">
          <h3>User list</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Photo</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of state.appData.data.page.content; let i = index;">
                <th scope="row">{{ user.id }}</th>
                <td><img [src]="user.imageUrl" width="42" height="42" class="rounded-circle"
                    [alt]="user.name + ' \'s photo'"></td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                  <span class="badge" [ngClass]="[user.status === 'ACTIVE' ? 'bg-success' : 'bg-danger']">
                    {{user.status}}
                  </span>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item"><a (click)="goToNextOfPreviousPage('backward', '')" class="page-link"
                  href="#">&laquo; Previous</a></li>
              <li *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index;"
                class="page-item"><a (click)="goToPage('',i)" class="page-link" href="#">{{ i + 1 }}</a></li>
              <li class="page-item"><a (click)="goToNextOfPreviousPage('forward', '')" class="page-link" href="#">Next
                  &raquo;</a></li>
            </ul>
          </nav>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>